<div
  class='flex h-screen w-full min-w-[700px] max-w-[1000px] flex-col items-start'
>
  {{#each (getActiveChatMessages messages chats.activeChatId) as |message|}}
    {{{ChatMessage
      text=content
      isMyMessage=(isMyMessage message ../id)
      isDelivered=IsDelivered
      isRead=true
      time=time
      userId=user_id
    }}}
  {{/each}}
</div>
