{{#if chats.activeChatId}}
  <div class='flex h-screen w-full flex-col items-center justify-between'>
    {{{ChatTopBar activeChatId=chats.activeChatId}}}
    {{{ChatMessages activeChatId=chats.activeChatId}}}
    {{{ChatBottomBar activeChatId=chats.activeChatId}}}
  </div>
{{else}}
  <section class='flex h-screen w-full items-center justify-center bg-dark0'>
    <div class='fonttext-md font-monospace text-gray-700'>Select chat to send
      message</div>
  </section>
{{/if}}
