<button>Attach file</button>
<form>
  <label for="message-box" class="invisible">Search</label>
  <input type="text" placeholder="Type message here..." id="message-box" />
</form>
<button>Send message</button>