<div class='m-0 flex h-[50px] w-full items-center p-0 align-middle'>
  <a href='/settings'>
    <img
      class='ml-1 h-[30px] w-[30px]'
      src='/assets/user-profile-pic-small.svg'
      alt='User icon'
    />
  </a>
  <div class='ml-4'>
    {{{TextButton label='Profile' href='/settings'}}}
  </div>
  <div class='w-full'>
    {{{SearchForm searchQuery=searchQuery}}}
  </div>
</div>
