<section class='flex flex-col min-w-[350px] max-w-[450px] w-full bg-dark1 '>
  <div class='mx-3'>
    {{> 'chat/profile-bar'}}
  </div>
  <div class='h-full overflow-y-auto scrollbar'>
    {{> 'chat/chat-preview' name='Design Destroyer' message='В 2008 году художник Jon Rafman  начал собирать...' time='17:12' messageCount='1'}}
    {{> 'chat/chat-preview' name='Андрей' message='Изображение' time='15:01' messageCount='12'}}
    {{> 'chat/chat-preview' name='Илья' message='Друзья, у меня для вас особенный выпуск новостей. Заходите на мой канал.' time='07:01' messageCount='3'}}
    {{> 'chat/chat-preview' name='Вадим' message='Вы: круто' time='05:55'}}
    {{> 'chat/chat-preview' name='тет-а-теты' message='И Human Interface Guidelines и Material...' time='03:12'}}
    {{> 'chat/chat-preview' name='Киноклуб' message='Вы: стикер' time='12:34' }}
    {{> 'chat/chat-preview' name='1, 2, 3' message='Миллионы россиян ежедневно проводят десятки часов...' time='Sun'}}
    {{> 'chat/chat-preview' name='Day' message='Так увлёкся работой по курсу, что совсем...' time='Sat'}}
    {{> 'chat/chat-preview' name='Стас Рогозин' message='Можно и сегодня' time='Sat'}}
    {{> 'chat/chat-preview' name='Anton' message='Last message' time='Sat'}}
    {{> 'chat/chat-preview' name='Anton' message='Last message' time='Fri'}}
    {{> 'chat/chat-preview' name='Anton' message='Last message' time='Fri'}}
    {{> 'chat/chat-preview' name='Anton' message='Last message' time='Fri'}}
    {{> 'chat/chat-preview' name='Anton' message='Last message' time='Fri' }}
  </div>
  <div class='self-end bottom-0 w-full h-[1px]'></div>
</section>
