<section class='flex w-full min-w-[350px] max-w-[450px] flex-col bg-dark1'>
  <div class='mx-3'>
    {{{ChatProfileBar}}}
  </div>
  <div class='scrollbar h-full overflow-y-auto'>
    {{#each data}}
      {{{ChatPreview
        name=name
        message=message
        time=time
        messageCount=messageCount
      }}}
    {{/each}}
  </div>
  <div class='bottom-0 h-[1px] w-full self-end'></div>
</section>
