<section
  class='fonttext-md m-0 flex h-[50px] w-full items-center justify-between border-l-[2px] border-dark0 bg-dark1 font-monospace text-gray-700'
>
  {{{ChatEditModal
    active=modals.chatSettings
    onDeleteChatClick=onDeleteChatClick
    onChatSettingsCloseClick=onChatSettingsCloseClick
  }}}
  <div class='m-0 flex h-full w-full items-center p-0 align-middle'>
    <img
      class='ml-3 h-[40px] w-[40px]'
      src='/assets/user-pic-empty.svg'
      alt='User picture'
    />
    <h2 class='ml-2 block text-sm font-bold text-white'>{{title}}</h2>
  </div>
  {{{ChatSettingsButton onClick=onChatSettingsClick}}}
</section>
