<section
  class='fonttext-md m-0 flex h-[50px] w-full items-center justify-between border-l-[2px] border-dark0 bg-dark1 font-monospace text-gray-700'
>
  <div class='m-0 flex h-full w-full items-center p-0 align-middle'>
    <img
      class='ml-3 h-[40px] w-[40px]'
      src='/src/assets/user-pic-empty.svg'
      alt='User picture'
    />
    <h2 class='ml-2 block text-sm font-bold text-white'>Design Destroyer</h2>
  </div>
  <button
    class='m-0 mr-2 h-[24px] rounded-full hover:bg-dark3 active:bg-dark2'
  ><svg
      class='fill-current stroke-current stroke-2 text-dark4 hover:text-green1'
      width='24'
      height='24'
    ><path
        d='M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM12 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM12 20a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'
      ></path></svg>
  </button>
</section>