{{!< layout}}

<div class='flex h-screen items-center justify-center'>
  <div class='w-[340px] rounded-lg bg-dark2 px-7 py-3 shadow-2xl'>
    {{> 'headers/h1' header='sign_in'}}
    <form class='mt-12'>
      {{> 'form/input-text' label='Login'}}
      {{> 'form/input-text' label='Password' inputType='password'}}
      {{> 'buttons/submit-button' label='Sign In'}}
    </form>
    <div class='text-center mt-2'>
      {{> 'buttons/text-button' label='Create account' href='/src/pages/sign-up/sign-up.hbs'}}
    </div>
  </div>
</div>