<div class='relative'>
  <div>{{avatar}}</div>
  <img
    class='mb-4 block h-[131px] w-[131px] rounded-full'
    src='{{#if avatar}}{{avatar}}{{else}}/assets/user-profile-pic-big.svg{{/if}}'
    alt='User profile picture'
  />
  <a>
    <button
      class='absolute top-0 h-[131px] w-[131px] rounded-full bg-black opacity-0 hover:opacity-60'
    >
      <span class='text-sm text-green2'>Change pic</span>
    </button>
  </a>
</div>
