<div class='relative mb-12'>
  {{{InputText inputName='login' value=login error=errors.login onBlur=onBlur}}}
  {{{InputLabel label='Login' for='login'}}}
  {{{InputErrorBox error=errors.login}}}
</div>
