<form class="relative">
  <input
    class="my-0 block h-7 w-full appearance-none rounded-md bg-dark3 text-center font-monospace text-sm text-gray-900 focus:border focus:border-purple2 focus:outline-none"
    type="text"
    placeholder=" "
    id="search-input"
  />
  <div class="absolute top-0.5 left-[50%] -translate-x-[50%] bg-dark3">
    <img class="m-0 inline" src="/src/assets/search.svg" alt="User picture" />
    <span class="m-0 font-monospace text-sm text-gray-400">Search</span>
  </div>
  <label class="invisible relative -top-6" for="search">Search</label>
</form>
