{{!< layout}}

<h1 class='hidden'>Chat app</h1>
<div class='flex h-screen'>
  {{> 'chat/sidebar' }}
  <section class='flex justify-center items-center h-screen w-full bg-dark0'>
    <div class='font-monospace fonttext-md text-gray-700'>Select chat to send message</div>
  </section>
</div>
