<div class='flex h-screen'>
  {{{NewChatModal
    active=modals.newChat
    onNewChatCancelClick=onNewChatCancelClick
    onCreateNewChatClick=onCreateNewChatClick
    error=errors.APIError
  }}}
  {{{NewChatButton onClick=onNewChatButtonClick}}}
  <h1 class='hidden'>Chat app</h1>
  {{{ChatSideBar}}}
  {{{ChatMainWindow}}}
</div>
