<div class='flex h-screen'>
  <h1 class='hidden'>Chat app</h1>
  {{{ChatSideBar}}}
  <div class='flex flex-col items-center justify-between h-screen w-full'>
    {{{ChatTopBar}}}
    {{{ChatMessages}}}
    {{{ChatBottomBar}}}
  </div>
</div>
