{{!< layout}}

<h1 class='hidden'>Chat app</h1>
<div class='flex h-screen'>
  {{> 'chat/sidebar' }}
  <div class='flex flex-col items-start justify-between h-screen w-full'>
    {{> 'chat/topbar' }}
    {{> 'chat/bottombar' }}
  </div>
</div>
