<h1 class='font-monospace text-6xl leading-relaxed text-white mb-4'>{{name}}</h1>
<h2 class='font-monospace text-2xl leading-relaxed text-white mb-8'>{{description}}</h2>
{{> 'buttons/text-button' label='<- Back to chats'}}
