<p class='font-monospace text-6xl leading-relaxed text-white mb-4'>{{name}}</p>
<p class='font-monospace text-2xl leading-relaxed text-white mb-8'>{{description}}</p>
{{> 'buttons/text-button' label='<- Back to chats'}}
