<button
    class='m-0 mr-2 h-[24px] rounded-full hover:bg-dark3 active:bg-dark2'
  ><svg
      class='fill-current stroke-current stroke-2 text-dark4 hover:text-green1'
      width='24'
      height='24'
    ><path
        d='M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM12 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM12 20a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'
      ></path></svg>
  </button>
