<button
  class='absolute bottom-[50px] left-[250px]'
><svg width='58' height='68' fill='none'><g filter='url(#a)'><circle
        cx='29'
        cy='35'
        r='25'
        fill='#06C270'
      ></circle></g><path
      fill='#fff'
      d='M27.489 46.514V23.077h3.977v23.437h-3.977Zm-9.73-9.73v-3.977h23.437v3.977H17.759Z'
    ></path><defs><filter
        id='a'
        width='58'
        height='58'
        x='0'
        y='10'
        color-interpolation-filters='sRGB'
        filterUnits='userSpaceOnUse'
      ><feFlood
          flood-opacity='0'
          result='BackgroundImageFix'
        ></feFlood><feColorMatrix
          in='SourceAlpha'
          result='hardAlpha'
          values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'
        ></feColorMatrix><feOffset dy='4'></feOffset><feGaussianBlur
          stdDeviation='2'
        ></feGaussianBlur><feComposite
          in2='hardAlpha'
          operator='out'
        ></feComposite><feColorMatrix
          values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'
        ></feColorMatrix><feBlend
          in2='BackgroundImageFix'
          result='effect1_dropShadow_16795_33'
        ></feBlend><feBlend
          in='SourceGraphic'
          in2='effect1_dropShadow_16795_33'
          result='shape'
        ></feBlend></filter></defs></svg>
</button>
