<button
  type='submit'
  form='sendMessage'
  class='active:bg-green22 mx-3 h-[32px] justify-self-end rounded-lg hover:bg-green1'
><svg
    class='hover:stroke-3 stroke-current stroke-2 text-green1 hover:text-black'
    fill='none'
    width='32'
    height='32'
  ><path
      d='M14 16H6.668m-.113.389-3.113 9.3c-.244.73-.367 1.095-.279 1.32.076.195.24.344.442.4.232.065.584-.093 1.286-.41l22.282-10.026c.686-.309 1.029-.463 1.135-.677a.667.667 0 0 0 0-.591c-.106-.215-.449-.369-1.135-.678L4.882 4.997c-.7-.315-1.05-.473-1.282-.408a.667.667 0 0 0-.442.399c-.088.224.033.589.275 1.318l3.122 9.408c.042.125.063.188.07.252a.667.667 0 0 1 0 .171c-.008.064-.029.127-.07.252Z'
    ></path></svg>
</button>
