<button
  class='h-[40] w-full rounded-lg bg-gradient-to-br from-teal1 to-green0 font-monospace text-sm text-white shadow-lg hover:brightness-110 focus:brightness-90'
  type='submit'
>{{label}}</button>