{{!< layout}}

<h1 class='hidden'>Change password</h1>
<div class='flex h-screen'>
  {{> 'profile/sidebar-empty' }}
  <div class='flex items-start justify-middle h-screen w-full'>
    <div class='flex flex-col items-center justify-middle w-full max-w-[450px] min-w-[300px] font-monospace mx-auto mt-10 p-4'>
      <img class='block mb-4' src='/src/assets/user-profile-pic-big.svg' alt='User profile picture' >

      <h2 class='text-2xl text-white mb-12'>Stan G</h2>

      <form class='w-full'>
        {{> 'form/input-text' label='Old password' inputType='password' inputName='old_password' }}
        {{> 'form/input-text' label='New password' inputType='password' inputName='password' }}
        {{> 'form/input-text' label='Repeat new password' inputType='password' inputName='repeat_password' }}
        {{> 'buttons/submit-button' label='Change password' }}
      </form>
      <div class='text-center'>
        {{> 'buttons/text-button' label='Cancel' href='/src/pages/profile/profile.hbs' red=true}}
      </div>

    </div>
  </div>
</div>
