---
{
    pages:
        [
            {
                name: 'Sign In',
                href: './pages/sign-in/sign-in.hbs'
            },
            {
                name: 'Sign In /with invalid data/',
                href: './pages/sign-in/sign-in-invalid.hbs'
            },
            {
                name: 'Sign Up',
                href: './pages/sign-up/sign-up.hbs'
            },
            {
                name: 'Chat',
                href: './pages/chat/chat.hbs'
            },
            {
                name: 'Chat /unselected/',
                href: './pages/chat/chat-unselected.hbs'
            },
            {
                name: 'Profile',
                href: './pages/profile/profile.hbs'
            },
            {
                name: 'Profile - Change data',
                href: './pages/profile/profile.hbs'
            },
            {
                name: 'Profile - Change password',
                href: './pages/profile/change-password.hbs'
            },
            {
                name: '404',
                href: './pages/error/404.hbs'
            },
            {
                name: '500',
                href: './pages/error/500.hbs'
            },

        ]
}
---

{{!< layout}}

<div class='flex h-screen items-center justify-center'>
    <div class='w-[400px] rounded-lg bg-dark2 p-7 shadow-2xl'>
        {{> 'headers/h1' header='Pages list'}}
        <nav class='block'>
            <ul class='font-monospace text-lg text-white font-light leading-loose' >
                {{#each pages }}
                    <li>
                        <a class='hover:underline hover:underline-offset-8 visited:text-gray-500' href={{this.href}}>{{this.name}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
    </div>
</div>