<div class='flex h-screen items-center justify-center'>
  <div class='text-center'>
    <h1 class='font-monospace text-6xl leading-relaxed text-white mb-4'>{{code}}</h1>
    <h2 class='font-monospace text-2xl leading-relaxed text-white mb-8'>{{description}}</h2>
    {{{TextButton
      label='<- Back to chats'
      href='/pages/chat/index.html'
    }}}
  </div>
</div>
